.post {
    padding: 50px 15px;

    h2 {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 25px;
    }

    .data {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .text {
        font-size: 25px;
        line-height: normal;
        margin-bottom: 25px;
    }

    .detele {
        color: #ffff;
        padding: 15px 20px;
    }

    .edit {
        background: green;
        margin-left: 10px;
        padding: 15px 20px;
    }
}